#table {
  display:none;
}


tr:nth-child(even) {background-color: #f2f2f2;}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

*{
  box-sizing:border-box;
}

input[type='number']{
  width:100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label{
  padding:12px 12px 12px 0;
  display:inline-block;
}

input[type='button'] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}

#reset {
  float:left;
}

#calc{
  float:right;
}

input[type='button']:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px 40px 20px;
}

.col-25{
    float:left;
    width:50%;
    margin-top:6px;
}

.col-75{
    float:left;
    width:50%;
    margin-top:6px;
}

.row:after{
  content:"";
  display:table;
  clear:both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type='button'] {
        width: 100%;
        margin-top: 6px;
    }
}
